<style type="text/css">
.bdr {
  border-top: thin solid;
    border-bottom: thin solid;
    padding: 5px;
    border-color: silver;
}
</style>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ranganath 2 year exp resume</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row" style="padding-top:5px;">
    <div class="col-sm-4" style="background:#4682B4;color:white;">
      <h1>Ranganath N</h1>
      <h5> Web Developer(Ruby on Rails)</h5>
      <div class="sidediv">
      <h3 >Personal Info</h3>
      <h4>Phone</h4>
      <p>9900785200</p>
      <h4>Email</h4>
      <p>nyamagoudar1@gmail.com</p>
       <h4>Skype</h4> 
       <p>nyamagoudar1</p>
 <h4>Stackoverflow</h4> <p>https://stackoverflow.com/users/7378697/ranganath-nyamagoudar</p>
 <h4>Linkedin</h4>
 <p>https://www.linkedin.com/in/ranganath-nyamagoudar-517045106</p>
<h4>Address</h4>
      <p>#2, 9th E cross</br>Kamakya layout,</br> Bagalore</p>
      <p>Pin: 560085</p>
      </div>
      <div class="sidediv">
      <h3>Languages</h3>
      <h5>English</h5>
      <h5>Kannada</h5>
      <h5>Hindi</h5>
      </div>
      <div class="sidediv">
      <h3>Technical Skills</h3>
      <h4>Languages</h4>
      <p>Ruby, JavaScript</p>
      <h4>Frameworks</h4>
      <p>Rails</p>
      <h4>DBMS</h4>
      <p>MySql, MongoDB</p>
      <h4>Web Technologies</h4>
      <p>HTML, Css, Bootstrap</p>
      <h4>Others</h4>
      <p>Git, GA, Adsense, Nginx</p>
      </div>
    </div>
    <div class="col-sm-8">
      <h3> </h3>
      <p>I'm a software engineer with  <strong>2.3</strong> years of experience in Web development at  <strong>Carmatec  </strong>Bangalore, with an affinity towards creating Applications enriched with intuitive user experience.
</p>
<p>Involved in complete development life cycle of two applications by adopting
Version controlling (GIT) and Agile methodology as the software development life cycle.
</p>
<p>Successfully completed InmateAid and Homestay Management  applications. Adopted best coding practises with preference to maintainable code.</p>
<div>
<h3 class="bdr">Education</h3>
<p>Bachelor’s degree in Computer Science & Engineering, R.E.C. Hulakoti.
Vishweshwaraya Technological University (VTU), Belgaum (Karnataka).
</p>
</div>
<div>
<h3 class="bdr">Experience</h3>
<h5>Carmatec (Apr 2016 - Present)</h5>
<h5>Imprika (Jul 2015 - Mar 2016)</h5>
</div>
<div>
<h3 class="bdr">Projects</h3>
<h4>InmateAid</h4>
<h5>Description:</h5>
<p>InmateAid(https://www.inmateaid.com) is a ROR resource based project. This Application designed to prisons, inmate search in US and data management for Inmates(before prison, being prison, after prison). And also Ecommerce shop for discount calls, sending letters postcard and magazines.
</p>
<h5>Roles and Responsibilities:</h5>
<p>Designing and Developing of the application including requirement collection, database design and deploy the application.</p>
<h4>Homestay Management</h4>
<h5>Description:</h5>
<p>Homestay management is ROR based project. This Application designed to booking management. It involves calendar represents of booked dates and allows user to select booking with time slots, prices, price rules etc.
</p>
<h5>Roles and Responsibilities:</h5>
<p>Designing and Developing of the application including requirement collection, database design and deploy the application.</p>
<h4>Yoga website</h4>
<h5>Description:</h5>
<p>Yoga website focused on attracting the customers for yoga training and tells the importance of yoga. It show the training staff details, class schedules, fees structure of course.
It involves blogs page user subscription contact enquiry details collection etc.
</p>
<h5>Roles and Responsibilities:</h5>
<p>Understanding the Customer Requirement Specification.</br>
Design UI for the website.</br>
Creates the pages and Templates.</br>
Mails subscription.</br>
Gallery implementation. 
</p>
</div>
    </div>
  </div>
</div>

</body>
</html>
